{% extends 'base.html'%}
{% load static %}

{% block content %}
<div class="card shadow-lg border-0 rounded-lg mt-5">

    <div class="card-header" style="text-align: center;">
        <a href="index.html" class="logo d-flex align-items-center me-auto card-header" style="text-decoration: none;align-items: center;">
            <img src="{% static 'img/logo.png' %}" style="max-width: 60px;padding-top: 10px;" alt="">
            <h1 class="sitename" style="color: #212529">MEDIVIBE</h1> 
        </a>
        <h3 class="text-center font-weight-light my-4">Login</h3>
    </div>

    <div class="card-body">
        <form>
            <div class="form-floating mb-3">
                <input class="form-control" id="inputEmail" type="email" placeholder="name@example.com" />
                <label for="inputEmail">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="inputPassword" type="password" placeholder="Password" />
                <label for="inputPassword">Password</label>
            </div>
            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                <a class="small" href="password.html">Forgot Password?</a>
                <a class="btn btn-primary" href="index.html" style="background-color: #212529;padding: 10px 20px;">Login</a>
            </div>
        </form>
    </div>

    <center>
        <div class = 'social_login'>
            <img src="{% static 'img/googlee_icon.png' %}" alt="">
            <img src="{% static 'img/facebook_icon.png' %}" alt="">
        </div>
    </center>

    <div class="card-footer text-center py-3">
        <div class="small"><a href="{% url 'register' %}">Need an account? Sign up!</a></div>
    </div>
</div>
{% endblock content %}
                            