{% extends 'base_.html'%}
{% block content %}

        <div class="container-fluid px-4">
            <br>
            <div class="row">
                <div class="col-xl-4 col-md-6">
                    <div class="card text-white mb-4" style="background-color: #717D9C;align-items: center;">
                        <div class="card-body">Available Drugs Count</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <h1>0</h1>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="card bg-warning text-white mb-4" style="align-items: center;">
                        <div class="card-body">Active Users</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <h1>0</h1>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="card bg-success text-white mb-4" style="align-items: center;">
                        <div class="card-body">On Going Orders</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <h1>0</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Orders
                </div>
                <div class="card-body">

                    <!-- Table Should be develop -->
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Order ID </th>
                                <th>Customer Name</th>
                                <th>Contact No</th>
                                <th>Order Date & Pickup</th>
                                <th>Delivery Type</th>
                                <th>Order Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Order ID </th>
                                <th>Customer Name</th>
                                <th>Contact No</th>
                                <th>Order Date</th>
                                <th>Delivery Type</th>
                                <th>Order Status</th>
                                <th></th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>xxxxxxx xxxxxxxx</td>
                                <td>xxxxxxx xxxxxxxx</td>
                                <td>+940000000</td>
                                <td>00-00-0000</td>
                                <td>xxxxxxxx</td>
                                <td><button type="button" class="btn btn-success">Delivered</button></td>
                                <td><button type="button" class="btn btn-info">Info</button></td>
                            </tr>
                            <tr>
                                <td>xxxxxxx xxxxxxxx</td>
                                <td>xxxxxxx xxxxxxxx</td>
                                <td>+940000000</td>
                                <td>00-00-0000</td>
                                <td>xxxxxxxx</td>
                                <td><button type="button" class="btn btn-danger">On-Going</button></td>
                                <td><button type="button" class="btn btn-info">Info</button></td>
                            </tr>
                            <tr>
                                <td>xxxxxxx xxxxxxxx</td>
                                <td>xxxxxxx xxxxxxxx</td>
                                <td>+940000000</td>
                                <td>00-00-0000</td>
                                <td>xxxxxxxx</td>
                                <td><button type="button" class="btn btn-success">Delivered</button></td>
                                <td><button type="button" class="btn btn-info">Info</button></td>
                            </tr>
                            <tr>
                                <td>xxxxxxx xxxxxxxx</td>
                                <td>xxxxxxx xxxxxxxx</td>
                                <td>+940000000</td>
                                <td>00-00-0000</td>
                                <td>xxxxxxxx</td>
                                <td><button type="button" class="btn btn-success">Delivered</button></td>
                                <td><button type="button" class="btn btn-info">Info</button></td>
                            </tr>
                            <tr>
                                <td>xxxxxxx xxxxxxxx</td>
                                <td>xxxxxxx xxxxxxxx</td>
                                <td>+940000000</td>
                                <td>00-00-0000</td>
                                <td>xxxxxxxx</td>
                                <td><button type="button" class="btn btn-success">Delivered</button></td>
                                <td><button type="button" class="btn btn-info">Info</button></td>
                            </tr>
                            <tr>
                                <td>xxxxxxx xxxxxxxx</td>
                                <td>xxxxxxx xxxxxxxx</td>
                                <td>+940000000</td>
                                <td>00-00-0000</td>
                                <td>xxxxxxxx</td>
                                <td><button type="button" class="btn btn-success">Delivered</button></td>
                                <td><button type="button" class="btn btn-info">Info</button></td>
                            </tr>
                            <tr>
                                <td>xxxxxxx xxxxxxxx</td>
                                <td>xxxxxxx xxxxxxxx</td>
                                <td>+940000000</td>
                                <td>00-00-0000</td>
                                <td>xxxxxxxx</td>
                                <td><button type="button" class="btn btn-success">Delivered</button></td>
                                <td><button type="button" class="btn btn-info">Info</button></td>
                            </tr>
                            <tr>
                                <td>xxxxxxx xxxxxxxx</td>
                                <td>xxxxxxx xxxxxxxx</td>
                                <td>+940000000</td>
                                <td>00-00-0000</td>
                                <td>xxxxxxxx</td>
                                <td><button type="button" class="btn btn-success">Delivered</button></td>
                                <td><button type="button" class="btn btn-info">Info</button></td>
                            </tr>
                            <tr>
                                <td>xxxxxxx xxxxxxxx</td>
                                <td>xxxxxxx xxxxxxxx</td>
                                <td>+940000000</td>
                                <td>00-00-0000</td>
                                <td>xxxxxxxx</td>
                                <td><button type="button" class="btn btn-success">Delivered</button></td>
                                <td><button type="button" class="btn btn-info">Info</button></td>
                            </tr>
                            <tr>
                                <td>xxxxxxx xxxxxxxx</td>
                                <td>xxxxxxx xxxxxxxx</td>
                                <td>+940000000</td>
                                <td>00-00-0000</td>
                                <td>xxxxxxxx</td>
                                <td><button type="button" class="btn btn-success">Delivered</button></td>
                                <td><button type="button" class="btn btn-info">Info</button></td>
                            </tr>
                        </tbody>
                    </table> 
                </div>
            </div>
        </div>

{% endblock content %}
