{% extends '_base_.html'%}

{% block content %}
{% load static %}
  <div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span><a href="index.html">Store</a><span class="mx-2 mb-0">/</span><strong class="text-black">Checkout</strong></div>
      </div>
    </div>
  </div>

    <div class="site-section">
      <div class="container">

        <div class="row">
          <div class="col-md-6 mb-5 mb-md-0">
            <h2 class="h3 mb-3 text-black">Billing Details</h2>
            <div class="p-3 p-lg-5 border">
              <div class="form-group">
                <label for="c_country" class="text-black">City <span class="text-danger">*</span></label>
                <select id="c_country" class="form-control">
                    <option value="">Select your city</option>
                    <option value="colombo">Colombo</option>
                    <option value="dehiwala-mount-lavinia">Dehiwala-Mount Lavinia</option>
                    <option value="moratuwa">Moratuwa</option>
                    <option value="sri-jayawardenepura-kotte">Sri Jayawardenepura Kotte</option>
                    <option value="maharagama">Maharagama</option>
                    <option value="kaduwela">Kaduwela</option>
                    <option value="kesbewa">Kesbewa</option>
                    <option value="homagama">Homagama</option>
                    <option value="kolonnawa">Kolonnawa</option>
                    <option value="padukka">Padukka</option>
                    <option value="ratmalana">Ratmalana</option>
                    <option value="seethawaka">Seethawaka</option>
                    <option value="thimbirigasyaya">Thimbirigasyaya</option>
                </select>
              </div>
              <div class="form-group row">
                <div class="col-md-6">
                  <label for="c_fname" class="text-black">First Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_fname" name="c_fname">
                </div>
                <div class="col-md-6">
                  <label for="c_lname" class="text-black">Last Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_lname" name="c_lname">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_address" class="text-black">Address <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_address" name="c_address" placeholder="Street address">
                </div>
              </div>

    
              <div class="form-group row">
                <div class="col-md-6">
                  <label for="c_state_country" class="text-black">State<span class="text-danger">*</span></label>
                  <select id="c_country" class="form-control">
                    <option value="">Select a Province</option>
                    <option value="western">Western Province</option>
                    <option value="central">Central Province</option>
                    <option value="southern">Southern Province</option>
                    <option value="northern">Northern Province</option>
                    <option value="eastern">Eastern Province</option>
                    <option value="north-western">North Western Province</option>
                    <option value="north-central">North Central Province</option>
                    <option value="uva">Uva Province</option>
                    <option value="sabaragamuwa">Sabaragamuwa Province</option>
                </select>
                </div>
                <div class="col-md-6">
                  <label for="c_postal_zip" class="text-black">Posta / Zip <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_postal_zip" name="c_postal_zip">
                </div>
              </div>
    
              <div class="form-group row mb-5">
                <div class="col-md-6">
                  <label for="c_email_address" class="text-black">Email Address <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_email_address" name="c_email_address">
                </div>
                <div class="col-md-6">
                  <label for="c_phone" class="text-black">Phone <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_phone" name="c_phone" placeholder="Phone Number">
                </div>
              </div>
  
              <div class="form-group">
                <label for="c_order_notes" class="text-black">Order Notes</label>
                <textarea name="c_order_notes" id="c_order_notes" cols="30" rows="5" class="form-control"
                  placeholder="Write your notes here..."></textarea>
              </div>
    
            </div>
          </div>
          <div class="col-md-6">
    
            <div class="row mb-5">
              <div class="col-md-12">
                <h2 class="h3 mb-3 text-black">Your Order</h2>
                <div class="p-3 p-lg-5 border">
                  <table class="table site-block-order-table mb-5">
                    <thead>
                      <th>Product</th>
                      <th>Total</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Product 1<strong class="mx-2">x</strong> 1</td>
                        <td>LKR 00.00</td>
                      </tr>
                      <tr>
                        <td>Product 2<strong class="mx-2">x</strong> 1</td>
                        <td>LKR 00.00</td>
                      </tr>
                      <tr>
                        <td class="text-black font-weight-bold"><strong>Cart Subtotal</strong></td>
                        <td class="text-black">LKR 00.00</td>
                      </tr>
                      <tr>
                        <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
                        <td class="text-black font-weight-bold"><strong>LKR 00.00</strong></td>
                      </tr>
                    </tbody>
                  </table>
    
                  <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block" style="background-color:#12133d;color: white;" onclick="window.location=''">Place
                      Order</button>
                  </div>
    
                </div>
              </div>
            </div>
    
          </div>
        </div>
      </div>
    </div>
{% endblock content %}